<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
		<setting label="32001" type="lsep"/> 
        <setting label="32010" type="number" id="w1_width" default="320" option="int" />
        <setting label="32011" type="number" id="w1_height" default="240" option="int" />
        <setting label="32012" type="number" id="w1_x" default="0" option="int" />
        <setting label="32013" type="number" id="w1_y" default="480" option="int" />
		<setting label="32002" type="lsep"/> 
        <setting label="32010" type="number" id="w2_width" default="320" option="int" />
        <setting label="32011" type="number" id="w2_height" default="240" option="int" />
        <setting label="32012" type="number" id="w2_x" default="320" option="int" />
        <setting label="32013" type="number" id="w2_y" default="480" option="int" />
		<setting label="32003" type="lsep"/> 
        <setting label="32010" type="number" id="w3_width" default="320" option="int" />
        <setting label="32011" type="number" id="w3_height" default="240" option="int" />
        <setting label="32012" type="number" id="w3_x" default="640" option="int" />
        <setting label="32013" type="number" id="w3_y" default="480" option="int" />
		<setting label="32004" type="lsep"/> 
        <setting label="32010" type="number" id="w4_width" default="320" option="int" />
        <setting label="32011" type="number" id="w4_height" default="240" option="int" />
        <setting label="32012" type="number" id="w4_x" default="960" option="int" />
        <setting label="32013" type="number" id="w4_y" default="480" option="int" />
		<setting label="32005" type="lsep"/> 
        <setting label="32010" type="number" id="w5_width" default="640" option="int" />
        <setting label="32011" type="number" id="w5_height" default="480" option="int" />
        <setting label="32012" type="number" id="w5_x" default="0" option="int" />
        <setting label="32013" type="number" id="w5_y" default="240" option="int" />
		<setting label="32006" type="lsep"/> 
        <setting label="32010" type="number" id="w6_width" default="640" option="int" />
        <setting label="32011" type="number" id="w6_height" default="480" option="int" />
        <setting label="32012" type="number" id="w6_x" default="640" option="int" />
        <setting label="32013" type="number" id="w6_y" default="240" option="int" />
		<setting label="32007" type="lsep"/> 
        <setting label="32010" type="number" id="w7_width" default="1280" option="int" />
        <setting label="32011" type="number" id="w7_height" default="720" option="int" />
        <setting label="32012" type="number" id="w7_x" default="0" option="int" />
        <setting label="32013" type="number" id="w7_y" default="0" option="int" />
    </category>
    <category label="33000">
        <setting label="33003" type="slider" id="interval" default="200" range="100,100,1000" option="int" />
	    <setting label="33004" type="bool" id="autoClose" default="true" />
        <setting label="33005" type="slider" id="duration" default="15" range="3,1,120" option="int" enable="eq(-1,true)" />
    </category>
</settings>